on:
  push:

env:
  IMAGE: ghcr.io/${{ github.repository_owner }}/ghcr-publish:latest

jobs:
  pull:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Login to ghcr.io
        run: docker login https://ghcr.io -u token --password-stdin <<< ${{ secrets.READ_PACKAGES_TOKEN }}

      - name: Pull image
        run: docker pull ${{ env.IMAGE }}

      - name: Run image
        run: docker run ${{ env.IMAGE }}
